body {
    background-image:url('Juste_Prix.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

button {
    font-family: 'Press Start 2P', cursive;
    background-color:rgba(48,50,130,255);
    width: 400px;
    height: 80px;
    border-radius:25px;
    font-size: 30px;
    font-style: italic;
    color: rgba(213,208,125,255);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, .labelToClear {
    color: blue;
    font-family: 'Press Start 2P', cursive;
}

.writeHere {
    color: blue;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    width: 200px;
    font-size: 50px;
}

.jeu {
    border: 7px dashed #313382 ;
    background-color: rgba(255, 255, 255, 0.719);
    width: 60%;
    height: 500px;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}