.slider {
    max-height: 200px;
    position: relative;
    overflow: hidden;
}

.Image {
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 100%;
    transition: all 0.5s;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 100px;
}

.Image img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.btn {
    display: flex;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 70px;
    color: black;
    background-color: transparent;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 1.5%;
}
