* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/GIF/Bob.gif) no-repeat;
    background-position: left 100px;
    background-color: #f7abdf;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(216, 85, 188, 0.5);
    width:300px;
    height: 180px;
    padding: 20px;
    border-radius: 10px;
    margin: 10% 0px 0px 40%;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.email, .password {
    height: 20px;
}

.boutton {
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 30px;
}

p {
    text-align: center;
}
