* {
    margin: 0;
    font-family: "Jost", sans-serif;
}

/**************************     NavBar     **************************/

.lien-accueil {
    text-decoration: none;
    color: #383838;
}

.nav {
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #d1d1d1;
}

.JR-logo {
    height: 60px;
}

.search {
    display: flex;
}

.search-box {
    width: 300px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    color: #a9a9a9;
}

.search-btn {
    padding: 10px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background: #383838;
    color: #ffff;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.utilisateur img {
    margin-left: 5px;
    width: 30px;
}


/******* Formulaire *******/

.section-formulaire {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin: 20px 0;
}

.titre-contact {
    font-family: "Jost";
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 65px;
}

.telephone {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    width: 300px;
}

.email {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    width: 300px;
}

.num {
    font-family: "Jost";
    font-size: 25px;
    font-weight: 600;
}

.mail {
    font-family: "Jost";
    font-size: 25px;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 25px;
    outline: 4px solid #000000;
    padding: 20px;
}

.textform {
    outline: 2px solid #000000;
    padding: 0;
    border: none;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

.text {
    font-family: "Jost";
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    height: 32px;
    width: 200px;
    margin: 5px 0;
}

.message {
    outline: 2px solid #000000;
    border: none;
    resize: none;
    height: 95px;
    width: 290px;
    border-radius: 10px;
    font-size: 24px;
}

.btn_envoyer {
    font-family: "Jost";
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: white;
    width: 175px;
    height: 40px;
    background: #383838;
    outline: 3px solid #000000;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 7px #999;
    cursor: pointer;
}

.btn_envoyer:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transform: scale(0.9);
}

.etoile {
    margin-bottom: 10px;
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
}

.star {
    color: red;
}

/******* Vrai footer *******/

.logo-reseaux {
    height: 40px;
    margin-right: 10px;
}

.footer-credit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    background: #383838ca;
}

.logo-payement {
    display: flex;
    margin-left: 10px;
    height: 55px;
}