* {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

/**************************     NavBar     **************************/

.nav {
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.JR-logo {
    height: 60px;
}

.search {
    display: flex;
}

.search-box {
    width: 300px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    color: #a9a9a9;
}

.search-btn {
    padding: 10px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background: #383838;
    color: #ffff;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.utilisateur img {
    margin-left: 5px;
    width: 30px;
}

/******* Menu Accueil ect *******/

.links-container {
    display: flex;
    padding: 10px 0px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 600;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.link {
    text-transform: capitalize;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.link:hover {
    opacity: 1;
}

/*************   Body   ***********/

.fond-accueil{
    background: url(/image/Carti.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text-background {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

/* .top-article {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 50px 0px 50px 0px;
    font-style: 'jost', 'sans-serif';
    font-weight: 900;
}

.top-cat {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 50px 0px 50px 0px;
    font-style: 'jost', 'sans-serif';
    font-weight: 900;
}

.cat {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    margin-bottom: 100px;
}

.cat-p {
    margin-top: 50px;
    font-style: 'jost', 'sans-serif';
    font-weight: 900;
}

.cat-img {
    border: 5px solid;
    border-image: linear-gradient(to top, rgb(134, 32, 138), #e2457e) 1;
}

.doudoune {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

.sneaker {
display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

.pantalon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
} */

/******  Footer pour accueil  *******/

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-haut {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #d1d1d1;
}

.livraison {
    display: flex;
    padding: 0;
}

.logo-livraison {
    height: 40px;
    margin-right: 15px;
}

.livraison li {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.livraison p {
    font-size: 12.5px;
    font-weight: 600;
}

/******* Catégorie Mraque *******/

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-gauche {
    padding: 20px 30px;
    display: flex;
    background: #555555;
}

.category {
    display: grid;
    row-gap: 5px;
    column-gap: 30px;
    grid-template-columns: auto;
    list-style: none;
}

.category-title {
    grid-column: span 2;
    text-transform: capitalize;
    text-decoration: underline;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.category .footer-link {
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    color: #a9a9a9;
}

.footer-link:hover {
    color: #fff;
}

.footer-droite {
    padding: 25px 50px;
    display: flex;
    align-items: center;
    background: #444444;
}

.logo {
    height: 160px;
}

/******* Vrai footer *******/

.logo-reseaux {
    height: 40px;
    margin-right: 10px;
}

.footer-credit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    background: #383838ca;
}

.logo-payement {
    display: flex;
    margin-left: 10px;
    height: 55px;
}





/******* FAIT *******/